@model RamExpress.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    
    <div class="container text-center">
        <div class="row">
            <div class="col col-lg-4">
                <img src=@Model.Image style="width:300px"/>
                
            </div>
            <div class="col ">
                <dl class="row">
                    <dt class="col-sm-2">
                        <strong>@Html.DisplayNameFor(model => model.ProductName)</strong>
                    </dt>
                    <dd class="col-sm-10">
                        <b>@Html.DisplayFor(model => model.ProductName)</b>
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.Name)
                    </dd>
                 
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                </dl>
            </div>
        </div>
       
    </div>



</div>
<div>
    <a asp-controller="Cart" asp-action="Create" asp-route-id="@Model?.Id">Add Cart</a> |
    <a asp-action="Index">Back to List</a>
</div>
