@model IEnumerable<RamExpress.Models.Card>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>


<table class="table">
    <thead>
        <tr>
       
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantitive)
            </th>
            <th>
                Total
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price )
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Quantitive)
                
                </td>
                <td>
                    @if(item.Quantitive!=1)
                    {
                        <p>@(item.Quantitive*item.Product.Price)</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Product.Price )
                    }

                </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
